.header_bottem {
    height: auto;
    display: flex;
    align-items: center;
    background-color: #232f3e;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header__delivertopak{
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
    color : white;
    font-size: 14px;
    font-weight: 300;
    width: 100px;
  }
  